asgiref==3.4.1
certifi==2020.4.5.1
chardet==3.0.4
coreapi==2.3.1
coreschema==0.0.4
defusedxml==0.7.1
diff-match-patch==20200713
Django==3.2
django-ckeditor==6.3.2
django-cors-headers==3.10.1
django-crispy-forms==1.13.0
django-filter==21.1
django-formtools==2.3
django-guardian==2.4.0
django-import-export==0.5.1
django-js-asset==2.0.0
django-reversion==4.0.2
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
drf-extensions==0.7.1
et-xmlfile==1.1.0
future==0.16.0
httplib2==0.9.2
idna==2.9
itypes==1.2.0
Jinja2==2.11.2
Markdown==2.6.8
MarkupPy==1.14
MarkupSafe==1.1.1
mysqlclient==1.4.0
odfpy==1.4.1
olefile==0.46
openpyxl==3.0.9
Pillow==4.2.1
pycryptodome==3.9.7
PyJWT==1.7.1
pytz==2019.3
PyYAML==6.0
requests==2.23.0
six==1.16.0
sqlparse==0.4.2
tablib==3.1.0
typing_extensions==4.1.1
uritemplate==3.0.1
urllib3==1.25.9
xlrd==2.0.1
XlsxWriter==0.9.8
xlwt==1.2.0
